<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SIGLAS</key>
	<array>
		<dict>
			<key>nome</key>
			<string>AAA</string>
			<key>significado</key>
			<string>Aneurisma de aorta abdominal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ABO</string>
			<key>significado</key>
			<string>Tipo sanguíneo ABO</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ABVO</string>
			<key>significado</key>
			<string>Aceita bem via oral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AC</string>
			<key>significado</key>
			<string>Alojamento conjunto</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ACM</string>
			<key>significado</key>
			<string>A critério médico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ACTH</string>
			<key>significado</key>
			<string>Hormônio adrenocorticotrofico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ADH</string>
			<key>significado</key>
			<string>Hormônio antidiurético</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ADP</string>
			<key>significado</key>
			<string>Adenosina difosfato</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AIDS</string>
			<key>significado</key>
			<string>Síndrome da imunodeficiência</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AD</string>
			<key>significado</key>
			<string>Átrio direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AE</string>
			<key>significado</key>
			<string>Átrio esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AGE</string>
			<key>significado</key>
			<string>Ácidos graxos essenciais</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>amp</string>
			<key>significado</key>
			<string>Ampola</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AMP</string>
			<key>significado</key>
			<string>Adenosina monofosfato</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AMVO</string>
			<key>significado</key>
			<string>Aceita mal via oral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AO</string>
			<key>significado</key>
			<string>Aorta.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AOE</string>
			<key>significado</key>
			<string>Abertura ocular espontânea</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AP</string>
			<key>significado</key>
			<string>Antecedentes pessoais. </string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AP</string>
			<key>significado</key>
			<string>Aparelho pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AR</string>
			<key>significado</key>
			<string>Aparelho respiratório.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ARVO</string>
			<key>significado</key>
			<string>Aceita regular via oral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AV</string>
			<key>significado</key>
			<string>Átrio ventricular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AVC</string>
			<key>significado</key>
			<string>Acidente vascular cerebral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AVC</string>
			<key>significado</key>
			<string>Acesso venoso central</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AVE</string>
			<key>significado</key>
			<string>Acidente vascular encefálico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AVE</string>
			<key>significado</key>
			<string>Aneurisma ventrículo esquerdo.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>AVP</string>
			<key>significado</key>
			<string>Acesso venoso periférico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BAN</string>
			<key>significado</key>
			<string>Batimento de asa do nariz</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BAV</string>
			<key>significado</key>
			<string>Bloqueio atrioventricular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BCP</string>
			<key>significado</key>
			<string>Broncopneumonia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BEG</string>
			<key>significado</key>
			<string>Bom estado geral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BIA</string>
			<key>significado</key>
			<string>Balão intra-aórtico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BC</string>
			<key>significado</key>
			<string>Bloco cirúrgico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>bpm</string>
			<key>significado</key>
			<string>Batimento por minuto</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>BAVT</string>
			<key>significado</key>
			<string>Bloqueio átrio ventricular total.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Ca</string>
			<key>significado</key>
			<string>Cálcio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CA</string>
			<key>significado</key>
			<string>Câncer</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CAPD</string>
			<key>significado</key>
			<string>Diálise peritoneal ambulatorial contínua</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CAPs</string>
			<key>significado</key>
			<string>Contrações atriais prematuras</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CAT</string>
			<key>significado</key>
			<string>Cateterismo.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>cc</string>
			<key>significado</key>
			<string>Centimetro cubico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CC</string>
			<key>significado</key>
			<string>Centro cirúrgico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CD</string>
			<key>significado</key>
			<string>Conduta</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CD</string>
			<key>significado</key>
			<string>Controle de diurese</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CE</string>
			<key>significado</key>
			<string>Corpo estranho</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CEC</string>
			<key>significado</key>
			<string>Circulação extra corpórea.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CEN</string>
			<key>significado</key>
			<string>Cateter extra nasal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CH</string>
			<key>significado</key>
			<string>Concentrado de hemáceas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CHF</string>
			<key>significado</key>
			<string>Concentrado de hemáceas filtrado</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CHFI</string>
			<key>significado</key>
			<string>Concentrado de hemáceas filtrado e irradiado</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CIA</string>
			<key>significado</key>
			<string>Comunicação intra atrial.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CID</string>
			<key>significado</key>
			<string>Classificação internacional de doencas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CIV</string>
			<key>significado</key>
			<string>Comunicação interventricular. </string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CKMB</string>
			<key>significado</key>
			<string>Fração da enzima CPK</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CME</string>
			<key>significado</key>
			<string>Centro de material e esterilização</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CMO</string>
			<key>significado</key>
			<string>Cardiomiopatias obstrutivas. </string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CMV</string>
			<key>significado</key>
			<string>Citomegalovírus</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CN</string>
			<key>significado</key>
			<string>Cateter nasal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CO</string>
			<key>significado</key>
			<string>Centro obstétrico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CO</string>
			<key>significado</key>
			<string>Monóxido de carbono</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CO2</string>
			<key>significado</key>
			<string>Dióxido de carbono</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>conc</string>
			<key>significado</key>
			<string>Concentração</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CP</string>
			<key>significado</key>
			<string>Contagem de plaquetas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CPK</string>
			<key>significado</key>
			<string>Creatinina fosfoquinase</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CPT</string>
			<key>significado</key>
			<string>Capacidade pulmonar total</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CRF</string>
			<key>significado</key>
			<string>Capacidade residual funcional</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CST</string>
			<key>significado</key>
			<string>Complacência estática</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CSV</string>
			<key>significado</key>
			<string>Controle de sinais vitais</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CT</string>
			<key>significado</key>
			<string>Tomografia computadorizada</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CTI</string>
			<key>significado</key>
			<string>Centro de terapia intensiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CV</string>
			<key>significado</key>
			<string>Capacidade vital</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CV</string>
			<key>significado</key>
			<string>Cardioversão</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CV</string>
			<key>significado</key>
			<string>Cateterismo vesical</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CVC</string>
			<key>significado</key>
			<string>Cateter venoso central</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CVE</string>
			<key>significado</key>
			<string>Cardioversão elétrica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CVPs</string>
			<key>significado</key>
			<string>Contrações ventriculares prematuras</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>CX</string>
			<key>significado</key>
			<string>Circunflexa. </string>
		</dict>
		<dict>
			<key>nome</key>
			<string>D</string>
			<key>significado</key>
			<string>Diálise</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>D</string>
			<key>significado</key>
			<string>Difusão</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>d</string>
			<key>significado</key>
			<string>Dia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DC</string>
			<key>significado</key>
			<string>Debito cardíaco</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DDAVP</string>
			<key>significado</key>
			<string>Desmopressina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>dg</string>
			<key>significado</key>
			<string>dragea</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DHL</string>
			<key>significado</key>
			<string>Desidrogenase lática</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DI</string>
			<key>significado</key>
			<string>Diabetes insipidus</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DI</string>
			<key>significado</key>
			<string>Dia de internação</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DIU</string>
			<key>significado</key>
			<string>Dispositivo intra-uterino</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>dl</string>
			<key>significado</key>
			<string>Decilitro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DL</string>
			<key>significado</key>
			<string>Drenagem linfática</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DL</string>
			<key>significado</key>
			<string>Duplo lumen</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DLAO</string>
			<key>significado</key>
			<string>Dupla lesão aórtica.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DLD</string>
			<key>significado</key>
			<string>Decúbito lateral direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DLE</string>
			<key>significado</key>
			<string>Decúbito lateral esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DNA</string>
			<key>significado</key>
			<string>Ácido desoxiribonucleico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DP</string>
			<key>significado</key>
			<string>Diálise peritoneal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DPI</string>
			<key>significado</key>
			<string>Diálise peritoneal intermitente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DPI</string>
			<key>significado</key>
			<string>Doença inflamatória pélvica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DPP</string>
			<key>significado</key>
			<string>Descolamento prematuro de placenta</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DPOC</string>
			<key>significado</key>
			<string>Doença pulmonar obstrutiva crônica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DRGE</string>
			<key>significado</key>
			<string>Doença refluxo gastroesofágico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DRP</string>
			<key>significado</key>
			<string>Disfunção respiratória precoce</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DT</string>
			<key>significado</key>
			<string>Dreno de tórax</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DV</string>
			<key>significado</key>
			<string>Decúbito ventral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DVAO</string>
			<key>significado</key>
			<string>Disfunção válvula aórtica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DVE</string>
			<key>significado</key>
			<string>Derivação ventricular externa</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>DVP</string>
			<key>significado</key>
			<string>Derivação ventricular peritoneal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EAM</string>
			<key>significado</key>
			<string>Estenose artéria mitral.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ECG</string>
			<key>significado</key>
			<string>Eletrocardiograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ECO</string>
			<key>significado</key>
			<string>Ecocardiograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EEG</string>
			<key>significado</key>
			<string>Eletroencefalograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EF</string>
			<key>significado</key>
			<string>Exame físico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EM</string>
			<key>significado</key>
			<string>Estenose mitral.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EN</string>
			<key>significado</key>
			<string>Enterocolite necrosante</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EP</string>
			<key>significado</key>
			<string>Embolia pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ERVB</string>
			<key>significado</key>
			<string>Exploracao radiológica de vias biliares</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ETO</string>
			<key>significado</key>
			<string>Esterilizacao por óxido de etileno</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>EV</string>
			<key>significado</key>
			<string>Endovenoso</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FA</string>
			<key>significado</key>
			<string>Fosfatase alcalina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FA</string>
			<key>significado</key>
			<string>Fibrilação atrial</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FC</string>
			<key>significado</key>
			<string>Frequência cardíaca</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>fco</string>
			<key>significado</key>
			<string>Frasco</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FIO2</string>
			<key>significado</key>
			<string>Fração inspiratória de oxigênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FL</string>
			<key>significado</key>
			<string>Fezes líquidas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FP</string>
			<key>significado</key>
			<string>Fezes pastosas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FSL</string>
			<key>significado</key>
			<string>Fezes semi-líquidas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FSP</string>
			<key>significado</key>
			<string>Fezes semi-pastosas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FR</string>
			<key>significado</key>
			<string>Frequência respiratória</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FV</string>
			<key>significado</key>
			<string>Fibrilação ventricular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>FAV</string>
			<key>significado</key>
			<string>Fistula arteriovenosa</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>G+</string>
			<key>significado</key>
			<string>Gram positivo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>G-</string>
			<key>significado</key>
			<string>Gram negativo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>GA</string>
			<key>significado</key>
			<string>Gasometria arterial</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>GB</string>
			<key>significado</key>
			<string>Glóbulos brancos</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>GDP</string>
			<key>significado</key>
			<string>Gastroduodenopancreatectomia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>g</string>
			<key>significado</key>
			<string>Gramas</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>GV</string>
			<key>significado</key>
			<string>Glóbulos vermelhos</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>GV</string>
			<key>significado</key>
			<string>Gasometria venosa</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>h</string>
			<key>significado</key>
			<string>Hora</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>
HAS</string>
			<key>significado</key>
			<string>Hipertensão arterial sistêmica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Hb</string>
			<key>significado</key>
			<string>Hemoglobina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HBV</string>
			<key>significado</key>
			<string>Vírus da hepatite B</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HCV</string>
			<key>significado</key>
			<string>Vírus da hepatite C</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HD</string>
			<key>significado</key>
			<string>Hemodialise</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HDF</string>
			<key>significado</key>
			<string>Hemodiafiltração</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HF</string>
			<key>significado</key>
			<string>Hemofiltração</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HGT</string>
			<key>significado</key>
			<string>Hemoglicoteste</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HM</string>
			<key>significado</key>
			<string>Hipertermia maligna</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HP</string>
			<key>significado</key>
			<string>Hipertensão pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HSDE</string>
			<key>significado</key>
			<string>Hematoma subdural esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HSDD</string>
			<key>significado</key>
			<string>Hematoma subdural direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HTA</string>
			<key>significado</key>
			<string>Histerectomia total abdominal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Htc</string>
			<key>significado</key>
			<string>Hematócrito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HTD</string>
			<key>significado</key>
			<string>Hemitorax direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HTE</string>
			<key>significado</key>
			<string>Hemitorax esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>HTV</string>
			<key>significado</key>
			<string>Histerectomia total via vaginal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IAM</string>
			<key>significado</key>
			<string>Infarto agudo do miocárdio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IAO</string>
			<key>significado</key>
			<string>Insuficiência aórtica.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ICC</string>
			<key>significado</key>
			<string>Insuficiência cardíaca congestiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ID</string>
			<key>significado</key>
			<string>Intradérmica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Ig</string>
			<key>significado</key>
			<string>Imunoglobulina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IM</string>
			<key>significado</key>
			<string>Intramuscular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IMV</string>
			<key>significado</key>
			<string>Ventilação mandatória intermitente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IRA</string>
			<key>significado</key>
			<string>Insuficiência renal aguda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IRA</string>
			<key>significado</key>
			<string>Insuficiência respiratória aguda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IRC</string>
			<key>significado</key>
			<string>Insuficiência renal crônica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ISCD</string>
			<key>significado</key>
			<string>Subclávia direita</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ISCE</string>
			<key>significado</key>
			<string>Subclávia esquerda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IV</string>
			<key>significado</key>
			<string>Intravascular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IV</string>
			<key>significado</key>
			<string>Intravenoso</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>IVD</string>
			<key>significado</key>
			<string>Insuficiência ventricular direita</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>K</string>
			<key>significado</key>
			<string>Potássio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Kg</string>
			<key>significado</key>
			<string>Quilograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Km</string>
			<key>significado</key>
			<string>Quilômetro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>L</string>
			<key>significado</key>
			<string>Litro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LCR</string>
			<key>significado</key>
			<string>Líquido cefalorraquidiano</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LES</string>
			<key>significado</key>
			<string>Lupus eritematoso sistêmico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LH</string>
			<key>significado</key>
			<string>Linfoma de Hodking</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LH</string>
			<key>significado</key>
			<string>Hormônio luteinizante</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LLA</string>
			<key>significado</key>
			<string>Leucemia linfocítica aguda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LLC</string>
			<key>significado</key>
			<string>Leucemia linfocítica cronica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LMA</string>
			<key>significado</key>
			<string>Leucemia mielóide aguda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LMC</string>
			<key>significado</key>
			<string>Leucemia mielóide cronica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>LOC</string>
			<key>significado</key>
			<string>Lúcido, orientado e coerente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>m</string>
			<key>significado</key>
			<string>Metro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>mEq</string>
			<key>significado</key>
			<string>Miliequivalente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>mg</string>
			<key>significado</key>
			<string>Mdiligrama</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>min</string>
			<key>significado</key>
			<string>Minuto</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MIE/CD</string>
			<key>significado</key>
			<string>Mamária-coronária direita.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>ml</string>
			<key>significado</key>
			<string>Mililitro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>mm</string>
			<key>significado</key>
			<string>Milimetro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>mmHg</string>
			<key>significado</key>
			<string>Milimetros de mercúrio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MEG</string>
			<key>significado</key>
			<string>Mau estado geral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MP</string>
			<key>significado</key>
			<string>Marcapasso</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MMII</string>
			<key>significado</key>
			<string>Membros inferiores</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MMSS</string>
			<key>significado</key>
			<string>Membros superiores</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MID</string>
			<key>significado</key>
			<string>Membro inferior direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MIE</string>
			<key>significado</key>
			<string>Membro inferior esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MOE</string>
			<key>significado</key>
			<string>Movimentos oculares extrinsecos</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MSD</string>
			<key>significado</key>
			<string>Membro superior direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MSE</string>
			<key>significado</key>
			<string>Membro superior esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MSH</string>
			<key>significado</key>
			<string>Hormônio melanócito estimulante</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>MV+</string>
			<key>significado</key>
			<string>Murmúrio vesicular presente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Na</string>
			<key>significado</key>
			<string>Sódio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>N</string>
			<key>significado</key>
			<string>Nitrogênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>NPP</string>
			<key>significado</key>
			<string>Nutrição parenteral prolongada</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>NPT</string>
			<key>significado</key>
			<string>Nutrição parenteral total</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>NO</string>
			<key>significado</key>
			<string>Óxido nítrico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>NTG</string>
			<key>significado</key>
			<string>Nitroglicerina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>OPO</string>
			<key>significado</key>
			<string>Organização procura de óbitos</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>P</string>
			<key>significado</key>
			<string>Pulso</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PA</string>
			<key>significado</key>
			<string>Pressão arterial</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PA</string>
			<key>significado</key>
			<string>Perímetro abdominal</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PAM</string>
			<key>significado</key>
			<string>Pressão arterial média</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PAP</string>
			<key>significado</key>
			<string>Pressão arterial pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PACO2</string>
			<key>significado</key>
			<string>Pressão alveolar de gás carbônico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PAD</string>
			<key>significado</key>
			<string>Pressão arterial diastólica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PAS</string>
			<key>significado</key>
			<string>Pressão arterial sistólica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PBE</string>
			<key>significado</key>
			<string>Peritonite bacteriana espontânea</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PC</string>
			<key>significado</key>
			<string>Perímetro cefálico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PCO2</string>
			<key>significado</key>
			<string>Pressão parcial de gás carbônico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PCP</string>
			<key>significado</key>
			<string>Pressão capilar pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PEEP</string>
			<key>significado</key>
			<string>Pressão positiva expiratória final</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PEP</string>
			<key>significado</key>
			<string>Prontuário eletrônico do paciente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PE</string>
			<key>significado</key>
			<string>Papilotomia endoscopica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PE</string>
			<key>significado</key>
			<string>Potenciais evocados</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PAO</string>
			<key>significado</key>
			<string>Pressão alveolar de oxigênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PaO2</string>
			<key>significado</key>
			<string>Pressão arterial de oxigênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PCA</string>
			<key>significado</key>
			<string>Analgesia controlada pelo paciente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>pH</string>
			<key>significado</key>
			<string>Potencial de hidrogênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PIC</string>
			<key>significado</key>
			<string>Pressao intracraniana</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PL</string>
			<key>significado</key>
			<string>Puncao lombar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PMT</string>
			<key>significado</key>
			<string>Prematuro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PNM</string>
			<key>significado</key>
			<string>Pneumonia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PO</string>
			<key>significado</key>
			<string>Pos-operatório</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>POI</string>
			<key>significado</key>
			<string>Pos-operatório imediato</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>POT</string>
			<key>significado</key>
			<string>Pos-operatório tardio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PRN</string>
			<key>significado</key>
			<string>Poliradiculoneurite</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PS</string>
			<key>significado</key>
			<string>Pronto-socorro</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PT</string>
			<key>significado</key>
			<string>Perímetro torácico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PTI</string>
			<key>significado</key>
			<string>Purpura trombocitopenica idiopatica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PTM</string>
			<key>significado</key>
			<string>Pressão transmembrana</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>PVC</string>
			<key>significado</key>
			<string>Pressão venosa central</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>QRS</string>
			<key>significado</key>
			<string>Complexo QRS do eletrocardiograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>QT</string>
			<key>significado</key>
			<string>Quimioterapia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>QT</string>
			<key>significado</key>
			<string>Intervalo QT do eletrocardiograma</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RA</string>
			<key>significado</key>
			<string>Ruídos adventícios</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RAA</string>
			<key>significado</key>
			<string>Reumatismo articular agudo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>REG</string>
			<key>significado</key>
			<string>Regular estado geral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RG</string>
			<key>significado</key>
			<string>Resíduo gástrico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RHA</string>
			<key>significado</key>
			<string>Ruído hidroaereo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RFM</string>
			<key>significado</key>
			<string>Reflexo foto motor</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RM</string>
			<key>significado</key>
			<string>Ressonância magnética</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RN</string>
			<key>significado</key>
			<string>Recém nascido</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RNA</string>
			<key>significado</key>
			<string>Ácido ribonucleico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>RPA</string>
			<key>significado</key>
			<string>Recuperação pos-anestésica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>rpm</string>
			<key>significado</key>
			<string>Respiração por minuto</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SaO2</string>
			<key>significado</key>
			<string>Saturação arterial de oxigênio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SC</string>
			<key>significado</key>
			<string>Subcutânea</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>seg</string>
			<key>significado</key>
			<string>Segundo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SF</string>
			<key>significado</key>
			<string>Soro fisiológico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SG</string>
			<key>significado</key>
			<string>Soro glicosado</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SIMV</string>
			<key>significado</key>
			<string>Ventilação mandatória intermitente sincronizada</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SK</string>
			<key>significado</key>
			<string>Estreptoquinase</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SL</string>
			<key>significado</key>
			<string>Sublingual</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SM</string>
			<key>significado</key>
			<string>Seio materno</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SNC</string>
			<key>significado</key>
			<string>Sistema nervoso central</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SNG</string>
			<key>significado</key>
			<string>Sonda nasogástrica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SNE</string>
			<key>significado</key>
			<string>Sonda nasoenteral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SO</string>
			<key>significado</key>
			<string>Sala de operação</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SOE</string>
			<key>significado</key>
			<string>Sonda oroenteral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SOG</string>
			<key>significado</key>
			<string>Sonda orogástrica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SVM</string>
			<key>significado</key>
			<string>Sem visceromegalias.</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SVA</string>
			<key>significado</key>
			<string>Sondagem vesical de alívio</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SVD</string>
			<key>significado</key>
			<string>Sondagem vesical de demora</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>SVE</string>
			<key>significado</key>
			<string>Sinais vitais estáveis</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>T</string>
			<key>significado</key>
			<string>Temperatura</string>
		</dict>
		<dict>
			<key>nome</key>
			<string> TAP</string>
			<key>significado</key>
			<string>Taquicardia atrial paroxística</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TB</string>
			<key>significado</key>
			<string>Tuberculose</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TC</string>
			<key>significado</key>
			<string>Tempo de coagulação</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Tc</string>
			<key>significado</key>
			<string>Temperatura central</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TCE</string>
			<key>significado</key>
			<string>Traumatismo cranioencefálico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TEP</string>
			<key>significado</key>
			<string>Tromboembolismo pulmonar</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TGO</string>
			<key>significado</key>
			<string>Transaminase glutamicooxalacetica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TGP</string>
			<key>significado</key>
			<string>Transaminase glutamico-piruvica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TMO</string>
			<key>significado</key>
			<string>Transplante de medula óssea</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TP</string>
			<key>significado</key>
			<string>Tempo de protrombina</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TS</string>
			<key>significado</key>
			<string>Tempo de sangramento</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TS</string>
			<key>significado</key>
			<string>Tipo sanguíneo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TSH</string>
			<key>significado</key>
			<string>Hormônio estimulante da tireóide</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TV</string>
			<key>significado</key>
			<string>Taquicardia ventricular</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TVP</string>
			<key>significado</key>
			<string>Trombose venosa profunda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TTPA</string>
			<key>significado</key>
			<string>Tempo de tromboplastina parcial ativado</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>Tx</string>
			<key>significado</key>
			<string>Transplante</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>TU</string>
			<key>significado</key>
			<string>Tumor</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>U</string>
			<key>significado</key>
			<string>Unidade</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UAC</string>
			<key>significado</key>
			<string>Unidade de assistência cardíaca</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UE</string>
			<key>significado</key>
			<string>Unidade de emergência</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UF</string>
			<key>significado</key>
			<string>Ultrafiltração</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UI</string>
			<key>significado</key>
			<string>Unidades internacionais</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UK</string>
			<key>significado</key>
			<string>Uroquinase</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>US</string>
			<key>significado</key>
			<string>Ultra-sonografia</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>UTI</string>
			<key>significado</key>
			<string>Unidade de terapia intensiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VAA</string>
			<key>significado</key>
			<string>Via aérea artificial</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VAS</string>
			<key>significado</key>
			<string>Vias aéreas superiores</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VAPSV</string>
			<key>significado</key>
			<string>Ventilação com pressão de suporte e volume garantido</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VC</string>
			<key>significado</key>
			<string>Volume corrente</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VD</string>
			<key>significado</key>
			<string>Ventrículo direito</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VE</string>
			<key>significado</key>
			<string>Ventrículo esquerdo</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VM</string>
			<key>significado</key>
			<string>Ventilação mecânica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VM</string>
			<key>significado</key>
			<string>Volume minuto</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VMI</string>
			<key>significado</key>
			<string>Ventilação mecânica invasiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VMNI</string>
			<key>significado</key>
			<string>Ventilação mecânica não invasiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VO</string>
			<key>significado</key>
			<string>Via oral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VP</string>
			<key>significado</key>
			<string>Veia periférica</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VP</string>
			<key>significado</key>
			<string>Via parenteral</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VPP</string>
			<key>significado</key>
			<string>Ventilação com pressão positiva</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VR</string>
			<key>significado</key>
			<string>Volume residual</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VS</string>
			<key>significado</key>
			<string>Volume sistólico</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VSCD</string>
			<key>significado</key>
			<string>Veia subclávia direita</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VSCE</string>
			<key>significado</key>
			<string>Veia subclávia esquerda</string>
		</dict>
		<dict>
			<key>nome</key>
			<string>VSR</string>
			<key>significado</key>
			<string>Vírus sincicial respiratório</string>
		</dict>
	</array>
</dict>
</plist>